.page {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.complete__page {
  width: 100%;
  min-height: 50%;
  background-color: #b9f1d6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  border-radius: 0.625rem;
  padding: 1.875rem;
}

.inputArea {
  width: 35%;
}

.inputArea__area {
    width: 100%;
    height: 30vh;
    resize: none;
    border-radius: 1rem;
    border: none;
    margin: .9375rem;
    padding: .9375rem;
    font-size: 1.5rem;

  }

.tokensArea {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.tokensArea__title{
    color: #294380;

}

.tokenArea__table{
    text-align: center;
    color: #294380;
    background-color: #bcf2ef;
    margin: 15px;
    border-radius: .625rem;
    width: 100%;
    text-align: start;
    padding: 20px;
    
}

.--clean {
  background-color: #f2bcbc;
  margin: 1.875rem;
}


