* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #0d0f36;
  background-color: #f0f0e5;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f1f6ce;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.2s; /* Agregar transición para suavizar la animación */
}
button:hover {
  border-color: #646cff;
  transform: scale(
    0.9
  ); /* Reducir el tamaño del botón al 90% del tamaño original */
}
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al botón cuando está enfocado */
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f2f2f2;
    background-color: #1a1a1a;
  }
  button {
    background-color: #2f2f2f;
  }
  button:focus,
  button:focus-visible {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Agrega una sombra al botón cuando está enfocado */
  }
}
